@use "constants";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: constants.$important-background-color;
  color: constants.$font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: constants.$extra-bold-font-weight;
}

.App {
  font-family: constants.$font-family;
  font-size: constants.$medium-font-size;
  font-weight: constants.$medium-font-weight;
  background-color: constants.$background-color;
  min-height: 100vh;
}

button, input[type=submit], input[type=button] {
  transition: background-color constants.$transition;
  border: none;
  background-color: constants.$important-background-color;
  cursor: pointer;

  &:hover {
    background-color: constants.$accent-color;
  }
}

input, button {
  font-family: constants.$font-family;
  font-weight: constants.$bold-font-weight;

  &:focus {
    outline: 2px solid constants.$accent-outline-color;
    outline-offset: 2px;
  }
}