$font-family: "Quicksand", Helvetica, sans-serif;
$medium-font-size: 16px;
$medium-font-weight: 500;

$font-color: #000;
$accent-color: #228be6;
$shadow-color: #e0e0e0;
$background-color: #f0f0f0;
$important-background-color: #fff;