@use "constants";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
  background-color: constants.$important-background-color;
  position: sticky;
  top: 0;
  z-index: 10000;

  .logo {
    height: 65px;
  }

  .profile-icon {
    background-color: transparent;
    border: none;
    border-radius: 100px;
    aspect-ratio: 1;
  }
}