@use "constants";

.recipe-card-link-wrapper {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.recipe-card {
  width: 400px;
  background-color: constants.$important-background-color;
  padding: 25px;
  border-radius: constants.$border-radius;
  text-align: left;
  cursor: pointer;
  transition: background-color constants.$transition;
  height: 100%;

  &:hover {
    background-color: constants.$accent-color;
  }

  .image-wrapper {
    width: 100%;
    height: 350px;
    border: constants.$border-style;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  h2 {
    margin-bottom: 0;
  }
}