@use "constants";

.recipe-grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .empty {
    text-align: center;
    margin-top: 60px;
  }

  .recipe-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .load-more-button {
    padding: 20px;
    margin: 20px;
    border-radius: constants.$border-radius;
    display: flex;
    justify-content: center;
    align-items: center;

    &.is-loading {
      padding: 10px;
    }

    .loading {
      height: 40px;
    }
  }
}

.loading-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .loading {
    width: 100px;
    height: 100px;
    margin: 60px;
  }
}