@use "constants";

.search-helper {
  position: absolute;
  background-color: constants.$important-background-color;
  width: 300px;
  padding: 0 0 constants.$border-radius 0;
  border-radius: 0 0 constants.$border-radius constants.$border-radius;
  top: 100%;
  left: 75px;
  box-shadow: 0 0 5px 2px #00000033;
  clip-path: inset(0 -5px -5px -5px);
  z-index: 10000;

  &.empty {
    visibility: hidden;
  }
}