@use "constants";

.selected-ingredient-container {
  position: relative;

  .selected-ingredient {
    padding: 10px 15px;
    background-color: constants.$ingredient-option-color;
    border-radius: 50px;
    margin: 3px;
  }
}