@use "constants";

.text-input-with-ingredients {
  padding: 10px 15px 10px 20px;
  box-shadow: 0 3px 1px 1px constants.$shadow-color inset;
  resize: none;
  display: flex;
  align-items: center;
  min-height: 72px;
  cursor: text;
  position: relative;

  .search-icon {
    margin-right: 10px;
  }

  .search-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

    .placeholder {
      font-weight: constants.$bold-font-weight;
      color: constants.$placeholder-color;
      position: absolute;
      pointer-events: none;
      z-index: 0;
      top: -5px;

      &.hidden {
        visibility: hidden;
      }
    }

    .text-div {
      margin: 10px 5px;
      min-width: 10px;
      min-height: 22px;
      outline: none;
      z-index: 1;

      &:focus {
        outline: none;
      }
    }
  }
}